<p id="notice"><%= notice %></p>

<h1>Search for Leagues</h1>
<div class="form-center">
  <%= form_tag leagues_path, method: :get do %>
    <p>Fields marked with an <span class="form-required-symbol">*</span> are required</p>
    <div class="form-grid">
      <div>
        <p>Latitude <span class="form-required-symbol">*</span></p>
        <%= text_field_tag :lat, params[:lat], id: "lat", class: "form-input", required: true %>
      </div>
      <div>
        <p>Longitude <span class="form-required-symbol">*</span></p>
        <%= text_field_tag :long, params[:long], id: "long", class: "form-input", required: true %>
      </div>
      <div>
        <p>Search Radius <span class="form-required-symbol">*</span></p>
        <%= number_field_tag :radius, params[:radius], class: "form-input", required: true %>
      </div>
      <div>
        <p>Budget <span class="form-required-symbol">*</span></p>
        <%= number_field_tag :budget, params[:budget], class: "form-input", required: true %>
      </div>
    </div>
    <%= submit_tag "Search", name: nil, class: "form-submit-button" %>
  <% end %>
</div>

<h1>Leagues Available</h1>
<div class ="table-center">
  <table class="table-leagues">
    <thead>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% @leagues.each do |league| %>
        <tr>
          <td><%= league.name %></td>
          <td><%= league.latitude %></td>
          <td><%= league.longitude %></td>
          <td><%= league.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class="league-new">
  <h2>New? Join the League Network</h2>
  <%= link_to 'Add a New League', new_league_path, class: "league-button" %>
</div>